<!DOCTYPE html>
<html>
<header>
  <h1>Create an article</h1>
</header>
<body>



<p>Create an article</p>


<contrainer display='inline'>
  <div>
    <h3> card1 </h3>
  </div>
  <div>
    <h3> card1 </h3>
  </div>
  <%= link_to 'home',root_path %>
  <%= image_tag '1.jpeg' %>
  <%= link_to image_tag('1.jpeg'), 'www.mashrurhossain.com' %>
</contrainer>

</body>
</html>
