

<h1>
    <p>
       Showing selected article
    </p>
</h1>

<h3>
    <p>
       title: <%= @article[:title] %>
    </p>
</h3>



<h3>
    <p>
       description: <%= @article[:description] %>
    </p>
</h3>




<%= link_to 'back to articles listing', articles_path %>

<%= link_to 'Edit article', edit_article_path(@article) %>


