<!DOCTYPE html>
<html>
<header>
  <h1>michal</h1>
</header>
<body>



<p>My first paragraph.</p>


<contrainer display='inline'>
  <div>
    <h3> card1 </h3>
  </div>
  <div>
    <h3> card1 </h3>
  </div>
</contrainer>

</body>
</html>
