$navbar-default-bg: #2f302f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}


#logo:hover{
	
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron{
	 background-image: asset-url('1.jpeg');
	 background-size: cover;
	 height:550px;
}

.jumbotron h1{
	color:fff;
	text-align:center;
	font-weight:bold;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight:bold;
}

.btn-xlarge{
	font-size:1.7em !important;
	background-color:#2f302f!important;
}
.btn-xlarge:hover{
	font-size:1.9em !important;
	background-color:#f55742 !important;
}
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #2f302f;
	color: #777;

}

footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
	margin-right: 8px;
}

